
#count{
    
    
    font-size: 10em;
    display: block;
}

#cnt{
    text-align: center;
    text-decoration: solid;

}
.button{
    background-color: aqua;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 10px;
    transition: all;
    cursor: pointer;
}
.button:hover{
background-color: rgb(255, 25, 0);
padding: 15px 25px;
transition-duration: 1s;
transition-delay: 5s;
text-decoration: dotted;

}
